[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

nuitka = "*"
scons = "*"
"flake8" = "*"
pylint = "*"


[packages]

pyotp = "*"
toml = "*"
click = "*"
"path.py" = "*"
